.createEmployee form select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #121212;
  width: 100%;
  cursor: pointer;
  background: #1f1f1f;
  color: white;
}

.createEmployee form select option {
  font-weight: normal;
  display: block;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  white-space: nowrap;
}

.createEmployee form select:focus {
  outline: none;
  border: 1px solid #121212;
}
