.EmployeePageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background: #121212;
}

.EmployeePageTitle {
  font-size: 1.5rem;
}

.EmployeePageTitle h1 {
  margin-top: 20px;
  font-weight: bold;
  color: #8b8b8b;
  text-align: center;
  margin-bottom: 1rem;
  font-family: "Raleway";
}

.EmployeePageContent {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 70%;
}

.EmployeePageContent a {
  margin: 15px auto;
  background: white;
  padding: 10px 20px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  font-family: "Montserrat";
  max-width: 250px;
}

.EmployeeSearchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 100%;
  padding: 10px 0;
}

.EmployeeSearch label {
  color: white;
  font-weight: bold;
  font-family: "Raleway";
  letter-spacing: 1px;
}

.EmployeeSearch input {
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #383838;
  font-family: "Roboto";
  font-size: 14px;
  background: #585858;
  color: white;
}

.grid-container {
  width: 100%;
}

.EmployeePageNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.EmployeePageNavButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.EmployeePageNavButtons button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  cursor: pointer;
}

.EmployeePageNavButtons button:hover {
  background-color: #ddd;
  cursor: pointer;
}

.EmployeePageNavButtons button:first-child {
  margin-left: 0;
  background: transparent;
  border: none;
}

.EmployeePageNavButtons button:last-child {
  margin-right: 0;
  background: transparent;
  border: none;
}

.EmployeePageBack {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
