.HomePageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
  position: relative;
}

.HomePageTitle {
  font-size: 1.5rem;
}

.HomePageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.createEmployee {
}

.createEmployee form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-width: 200px;
}

.createEmployee form label {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.createEmployee form fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 250px;
}

.createEmployee form input[type="text"],
input[type="number"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 250px;
}

.createEmployee form input[type="submit"] {
  cursor: pointer;
}
